<!DOCTYPE html>

<head>
    <!--      <link href="{{ url_for('static', path='/test.css') }}" rel="stylesheet"> -->
    <meta charset="utf-8">
    <title>樂透分析</title>
    <!--  -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
        integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
        crossorigin='anonymous'></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/d3-sankey@0.12.3/dist/d3-sankey.min.js"></script>
    <script src="https://www.google-analytics.com/analytics.js"></script>
    <!--  -->
    <style>
        .center {
            text-align: center;
        }

        body {
            text-align: center;
            overflow-x: hidden;
        }

        .node rect {
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }

        .link {
            fill: none;
            stroke: #000;
            stroke-opacity: 0.2;
            cursor: pointer;
        }

        .link:hover {
            stroke-opacity: 0.65;
        }
    </style>
</head>

<body>
    <h2 class='center'>威力彩</h2>
    <!-- sankey　　 -->
    <p style='text-align: center;'>
        左邊: 依開獎順序的所有連續兩球可能組合之第一球
        <br>
        右邊: 跟著第一球後開出之第二球中出現次數最高者
    </p>
    <svg id='sankey'></svg>
    <!-- 3D -->
    {{s3d|safe}}
    <br><br>
    <!-- wave -->
    {{wave|safe}}
    <!-- contour_asc -->
    {{contour_asc|safe}}
    <!-- overview asc -->
    {{overview_asc|safe}}
    <!-- overview -->
    {{overview|safe}}
    <!-- b1next -->
    {{b1next|safe}}
    <!-- monthtop2 -->
    {{monthtop2|safe}}
</body>



<script>
    // 範例: https://bl.ocks.org/d3noob/31665aced416f27abca4fa46f5f4b568
    // 官方: https://observablehq.com/@d3/sankey-diagram
    // 漸層: http://jsfiddle.net/CeAZQ/4/

    // (1) INIT ====================================================================
    // set the dimensions and margins of the graph
    var margin = { top: 10, right: 10, bottom: 10, left: 10 },
        w = 900,
        h = 900,
        width = w - margin.left - margin.right,
        height = h - margin.top - margin.bottom
        ;

    // format variables
    var formatNumber = d3.format(",.0f"), // zero decimal places
        format = function (d) { return formatNumber(d); },
        color = d3.scaleOrdinal(d3.schemeCategory10)
        ;

    // append the svg object to the body of the page
    var svg = d3.select("svg#sankey")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        ;

    // Set the sankey diagram properties
    var sankey = d3.sankey()
        .nodeWidth(36)
        .nodePadding(5)  // 若線太細，要調整height跟pad
        .size([width, height])
        .nodeSort(null)  // 按照data排序
        ;

    var path = sankey.links();

    // (2) load the data ====================================================================
    // d3.json("d3_sankey.json").then(function (sankeydata) {
    const sankeydata = {{ sankeydata| safe }};
    var graph = sankey(sankeydata);

    // (3) 定義link漸層 ====================================================================
    var defs = svg.append("defs");
    function getGradID(d) {
        return "linkGrad-" + d.source.node + "-" + d.target.node;
    }
    function nodeColor(d) {
        return d.color = color(d.name.replace(/ .*/, ""));
    }
    // create gradients for the links
    var grads = defs.selectAll("linearGradient")
        .data(graph.links, getGradID)
        .enter()
        .append("linearGradient")
        .attr("id", getGradID)
        .attr("gradientUnits", "userSpaceOnUse")
        ;
    grads.append("stop")
        .attr("offset", "0%")
        // .attr("stop-color", d => nodeColor((+d.source.x <= +d.target.x) ? d.source : d.target))
        .attr("stop-color", d => nodeColor(d.source))
        ;
    grads.append("stop")
        .attr("offset", "100%")
        // .attr("stop-color", d => nodeColor((+d.source.x > +d.target.x) ? d.source : d.target))
        .attr("stop-color", d => nodeColor(d.target))
        ;

    // (4) add in the links ====================================================================
    var link = svg.append("g").selectAll(".link")
        .data(graph.links)
        .enter()
        .append("path")
        .attr("class", "link")
        .attr("d", d3.sankeyLinkHorizontal())
        // .attr("d", path)
        .attr("stroke-width", d => Math.max(0, d.width))
        .style("stroke", d => "url(#" + getGradID(d) + ")")
        ;

    // add the link titles
    link.append("title")
        .text(d => `${d.source.name} → ${d.target.name}\n出現次數: ${format(d.value)}`)
        ;

    // (5) add in the nodes ====================================================================
    var node = svg.append("g").selectAll(".node")
        .data(graph.nodes)
        .enter()
        .append("g")
        .attr("class", "node")
        ;

    // add the rectangles for the nodes
    node.append("rect")
        .attr("x", d => d.x0)
        .attr("y", d => d.y0)
        .attr("height", d => d.y1 - d.y0)
        .attr("width", sankey.nodeWidth())
        .style("fill", d => d.color = color(d.name.replace(/ .*/, "")))
        .style("stroke", d => d3.rgb(d.color).darker(2))
        .append("title")
        .text(d => d.name + "\n" + format(d.value))
        ;

    // add in the title for the nodes
    node.append("text")
        .attr("x", d => d.x0 - 6)
        .attr("y", d => (d.y1 + d.y0) / 2)
        .attr("dy", "0.35em")
        .attr("text-anchor", "end")
        .text(d => d.name)
        .filter(d => d.x0 < width / 2)
        .attr("x", d => d.x1 + 6)
        .attr("text-anchor", "start")
        ;
</script>

</html>